node_modules/
.git/
*.log
*.tmp
*.bak
.DS_Store
dist/
build/
.expo/
*.apk
*.aab
.vscode/
.idea/
*.code-workspace
.cache/
.gradle/
.m2/
.nuget/
AppData/
NTUSER.DAT*
ntuser.dat*
ntuser.ini
Downloads/
Documents/
Videos/
Music/
OneDrive/
Favorites/
Links/
Searches/
Saved Games/